{% extends "layout.html" %}
{% block body %}
 	
<div class="container my-3">

<h1 class="text-center">AIKTC SHARE BOX-- "where feelings are shared" </h1>
<h2 class="text-left">One spot to talk about anything...</h2>
<ul classs="text-left"></ul>
<li>Talking through problems</li> 
<li>Talk to someone you trust</li> 
<li>Don't keep your problems to yourself</li>
<li>Finding the right person to talk to</li>
<br>

<h3 class="text-left">Talking through problems</h3>
<ul classs="text-left"></ul>
<h3>Summary</h3> 

  <p>Talking about your problems can release pent-up feelings.
  Talking to someone outside of the situation may help you to find a solution to the problem.
  If you don't think you can discuss the problem with anyone you know, you can call a confidential telephone counselling service.</li>
  Be a part of our community
  </p>

<h3 class="text-left"> Talk to someone you trust </h3>
<ul classs="text-left"></ul>
<li>A counsellor</li> 
<li>A social worker</li>
<li>A GP(Doctor)</li>
<br>

<h3 class="text-left">Finding the right person to talk to </h3>
<ul classs="text-left"></ul>
<li>An important first step is deciding who you want to talk to. You need to feel that you can trust the person you are talking to. 
</li> 
<li>There are counsellors who specialise in talking to young people or families. They can provide counselling in specialty areas, including</li>
<li>mental health (including eating disorders) 
alcohol
drugs
pregnancy
family issues
relationships (including issues such as peer pressure, bullying and cyberbullying)
sex and sexuality
study and careers 
abuse (including physical, sexual or emotional abuse).</li>
<br>

  <h4 class="text-left"> Where to get help </h4>
  <ul classs="text-left">
  <li>A counsellor</li> 
  <li>A social worker</li>
  <li>A GP(Doctor)</li>
  <li>Kids helpline Tel. 1800551800(24 hour telephone counselling service for children and young people aged 5-25)</li>
  <li>Lifeline Tel.131114 (24 hour counselling service) and many more sites are there to help you...</li></ul>
  <br>
  
<h2 class="text-center">OUR TEAM </h2>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/rahil.jpg') }}" alt="Rahil Khan">
    <div class="card-body">
      <h5 class="card-title">Khan Rahil Mohd Rashid</h5>
      <p class="card-text">Roll No : 18ET23</p>
      <p class="card-text">A.I.K.T.C EXTC 3RD YEAR PURSUING</p>
    </div>
    <div class="card-footer">
      <a href="https://www.linkedin.com/in/rahil-khan-rashid" target="_blank" class="text-muted">My LinkedIn link</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/anas.jpeg') }}" alt="Anas">
    <div class="card-body">
      <h5 class="card-title">Sayed Mohammad Anas</h5>
      <p class="card-text">Roll No : 18ET35</p>
      <p class="card-text">A.I.K.T.C EXTC 3RD YEAR PURSUING</p>

    </div>
    <div class="card-footer">
      <a href="https://www.linkedin.com/in/anas-sayed-b375261b6" target="_blank" class="text-muted">My LinkedIn link</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/shahnawaz.jpg') }}" alt="shahnawaz">
    <div class="card-body">
      <h5 class="card-title">Khan Shahnawaz</h5>
      <p class="card-text">Roll No : 18ET24</p>
      <p class="card-text">A.I.K.T.C EXTC 3RD YEAR PURSUING</p>
    </div>
    <div class="card-footer">
      <a href="https://www.linkedin.com/in/shahnawaz-khan-2975a9210
" target="_blank" class="text-muted">My LinkedIn link</a>
    </div>
  </div>
</div>
</div>
<div class="container my-3">
	<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/afridi.jpg') }}" alt="Afridi">
    <div class="card-body">
      <h5 class="card-title">Shaikh Afridi</h5>
      <p class="card-text">Roll No : 18ET39</p>
      <p class="card-text">A.I.K.T.C EXTC 3RD YEAR PURSUING</p>
    </div>
    <div class="card-footer">
      <a href="www.linkedin.com/in/shaikh-afridi" target="_blank" class="text-muted">My LinkedIn link</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/ajmal.jpg') }}" alt="ajmal">
    <div class="card-body">
      <h5 class="card-title">Shaikh Ajmal</h5>
      <p class="card-text">Roll No : 18ET24</p>
      <p class="card-text">A.I.K.T.C EXTC 3RD YEAR PURSUING</p>
    </div>
    <div class="card-footer">
      <a href="https://www.linkedin.com/in/rahil-khan-rashid" target="_blank" class="text-muted">My LinkedIn link</a>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/robot.jfif') }}" alt="unknown">
    <div class="card-body">
      <h5 class="card-title">Be a part of the community</h5>
      <p class="card-text">share your thoughts </p>
      <p class="card-text">connect with Us</p>
      <p class="card-text">A.I.K.T.C EXTC </p>
    </div>
    
  </div>
</div>
</div>
{% endblock %}  